 .background {
    	-fx-background-color: black;
    -fx-background-image: url("../../../assets/images/prologue/MarleeneForest.png"); //recordar modificar en el runable
    -fx-background-size: 100% 100%; //Usar cover si no quereis que se distorsione pero se recortará.
    -fx-background-position: center;
}

.textPanel {
    -fx-background-radius: 10px;
    -fx-control-inner-background: transparent;  //rgba(0, 0, 0, 1); #0000001A
     -fx-box-sizing: border-box;
    -fx-background-color: #0000009A;
    -fx-padding: 10px 10px 10px 10px;
    -fx-border-width: 3px;
    -fx-border-color: #5555555A;
    -fx-border-radius: 10px;
    
}
.name{
    fx-background-radius: 10px;
    -fx-control-inner-background: transparent;  //rgba(0, 0, 0, 1); #0000001A
     -fx-box-sizing: border-box;
    -fx-background-color: #0000009A;
    -fx-padding: 10px 10px 10px 10px;
    -fx-border-width: 3px;
    -fx-border-color: #5555555A;
    -fx-border-radius: 10px;
    -fx-overflow-y: hidden;
    -fx-overflow-x: hidden;
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

    .text {
    -fx-text-fill: white;
     -fx-box-sizing: border-box;
     -fx-wrap-text: true;
    //-fx-font-size: 20px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-overflow-y: hidden;
    -fx-overflow-x: hidden;
    
}


.button {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-color: #0000009A;
}