     .background {
    	-fx-background-color: black;
    	-fx-background-color: black;
        -fx-background-image: url("../../../assets/images/ep1/Murder.jpg"); //recordar modificar en el runable 
        -fx-background-size: 100% 100%; //Usar cover si no quereis que se distorsione pero se recortará.
        -fx-background-position: center;
    }
    
        .button {
    	-fx-text-fill: white;
    	-fx-font-size: 14px;
    	-fx-background-color: #0000009A;
    }
    
        .label {
    	-fx-text-fill: white;
    	-fx-font-size: 12px;
    	-fx-background-color: #0000009A;
    }