 .background {
     -fx-background-color: black;
     -fx-background-image: url('../images/background/StaffForest.png');
     -fx-background-size: 100% 100%;
     -fx-background-position: center;
 }

 .background2 {
     -fx-background-color: black;
     -fx-background-image: url("../images/background/Cabins.jpg");
     -fx-background-size: 100% 100%;
     -fx-background-position: center;
 }

 .background3 {
     -fx-background-color: black;
     -fx-background-image: url("../images/background/JohnCabin.png");
     -fx-background-size: 100% 100%;
     -fx-background-position: center;
 }

 .background4 {
     -fx-background-color: black;
     -fx-background-image: url("../images/background/MarleeneForest.png");
     -fx-background-size: 100% 100%;
     -fx-background-position: center;
 }

 .textPanel {
     -fx-background-radius: 10px;
     -fx-control-inner-background: transparent;
     -fx-box-sizing: border-box;
     -fx-background-color: #0000009A;
     -fx-padding: 10px 10px 10px 10px;
     -fx-border-width: 3px;
     -fx-border-color: #5555555A;
     -fx-border-radius: 10px;

 }

 .name {
     fx-background-radius: 10px;
     -fx-control-inner-background: transparent;
     -fx-box-sizing: border-box;
     -fx-background-color: #0000009A;
     -fx-padding: 10px 10px 10px 10px;
     -fx-border-width: 3px;
     -fx-border-color: #5555555A;
     -fx-border-radius: 10px;
     -fx-overflow-y: hidden;
     -fx-overflow-x: hidden;
     -fx-text-fill: white;
     -fx-font-size: 30px;
 }

 .text {
     -fx-text-fill: white;
     -fx-box-sizing: border-box;
     -fx-wrap-text: true;
     -fx-padding: 10px 10px 10px 10px;
     -fx-overflow-y: hidden;
     -fx-overflow-x: hidden;

 }


 .button {
     -fx-text-fill: white;
     -fx-font-size: 20px;
     -fx-background-color: #0000009A;
 }